<%- include('lout/head') %>
    <%- include('lout/nav') %>
        <div class="container">
            <div id="posts">
                <% for (let i=0;i<data.length;i++) {%>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= data[i]['t'] %>
                            </h5>
                            <p class="card-text">
                                <%= data[i]['b'] %>
                            </p>
                            <a href="<%= data[i]['u'] %>" class="card-link">link</a>
                            <a href="/post/<%= data[i]['_id'] %>" class="card-link">more</a>
                            <form action="/del" method="POST">
                                <input type="hidden" name="id" value="<%= data[i]['_id'] %>">
                                <input class="btn btn-primary" type="submit" value="delete" />
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <%- include('lout/jss') %>