<%- include('lout/head') %>
<%- include('lout/nav') %>
<div class="container">
    <% var a=1 %>
    <br>
    <br>
    <h3 class="white_text"><%= data['t'] %></h3>
    <h5 class="white_text"><%= data['b'] %></h5>
    <hr>
    <h5><pre class="bb white_text"><p><%= data['m'] %></p></pre></h5>
    <a href="<%= data['u'] %>">site link</a>
</div>
<%- include('lout/jss') %>
<!---->